<section class="section">
  <div class="container mt-5">
    <div class="page-error">
      <div class="page-inner">
        <h1>Demo</h1>
        <div class="page-description">
          Try click Whatsapp button.
        </div>
        <div class="page-search">
          <%= render 'demo/msg_button' %>
          <div class="mt-3">
            <a href="/">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>