body {
  color: black;
  font-family: 'Roboto', sans-serif;
  .main-sidebar .sidebar-menu li a,
  .main-content,
  .footer {
    width: auto;
  }
  a {
    text-decoration: none;
  }
  .card-wrapper {
    display: flex;
    flex-basis: 25%;
    column-gap: 1rem;
  }
  .form-control {
    display: block;
    width: 250px;
    line-height: 1.5;
    height: 20px !important;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  .btn {
    border: none !important;
  }
  .btn-primary,
  .badge-success {
    color: #fff;
  }
  .text-center {
    text-align: center;
  }
  .navbar-custom {
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .nav-link-custom {
      color: #fff;
      font-weight: 600;
      margin: 0 8px;
    }
  }
  .btn {
    border-radius: 0.25rem;
  }
  .wrapper {
    width: 500px;
    margin: auto;
  }
}