<section class="section">
  <div class="section-header">
    <h1>Edit Profile</h1>
  </div>
  <p><% notice || alert %></p>
  <%= render 'form', url: profile_path(@profile.id), method: :put %>
</section>
